@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'base/base';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';

.container {
  @include outer-container(1080px);
}

header {
  margin-top: 25px;
}

header a,
header form,
header ul,
header li
{
  display: inline-block;
}

header img {
  vertical-align: middle;
}

header form {
  /* width: 450px; */
}

header ul {
  float: right;
}

header ul li {
  font-size: 12px;
  color: #888;
  border-right: 1px solid gray;
  text-align: center;
}

sidebar.side-column {
  @include span-columns(3);
}

section.search-listings {
  @include span-columns(9);
}

.search-listings ul {
  @include row(block);
}

.search-listings li {
  @include span-columns(3 of 9);
  @include omega(3n);
}

.search-listings .shop-suggestions,
.search-listings .page-numbers {
  @include fill-parent()
}

.search-listings img {
  height: 172px;
  width: 100%;
}

.search-listings p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.category-list {
  padding-left: 30px;
  color: blue;
  border: 1px solid gray;
}

.search-refine {
  border: 1px solid gray;
}

.pagenumbers a {
  border: 1px solid gray;
}

.subscribe-offer {
  border: 10px solid #efefec;
}

.subscribe-offer h3 {
  text-align: center;
}

.subscribe-offer form {
  text-align: center;
}

.navigation-topic-wrapper {
  @include span-columns(12);
  @include pad(default);
  border-bottom: 1px solid gray;
}

.navigation-topic {
  @include span-columns(2.4 of 12);
}

.help-bar {
  text-align: center;
}

.locale-settings {
  display: inline-block;
  text-align: center;
}

.locale-settings li,
.locale-settings button {
  display: inline-block;
}

footer {
  text-align: center;
}
